*{
    margin:0;
    padding: 0;

}
h1{
    text-align: center;
    background: #06f5f5;
    font-size:50px;

}
ul{
    border-radius:100;
}
body{
background:orange;
clear:both;

}
#pie{
    border-top:8px solid #999999;
}.container{
background: paleturquoise;
text-align: center;

}footer{
    background: rgb(0, 0, 0);
    margin: 9px;
    padding: 20px;
}
footer ul{
    margin:top;
    text-align: center;
}